@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #083A4F;
  background-color: #E5E1DD;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Inter, system-ui, -apple-system, sans-serif;
  background-color: #E5E1DD;
}

a {
  color: inherit;
  text-decoration: none;
}

